beautifulsoup4>=4.11.1
bs4>=0.0.1
certifi>=2022.9.14
charset-normalizer>=2.1.1
filelock>=3.8.0
idna>=3.4
requests>=2.28.1
requests-file>=1.5.1
six>=1.16.0
soupsieve>=2.3.2.post1
tldextract>=3.3.1
urllib3>=1.26.12
